h1{
    color: #556667;
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
    margin-left: 12%;
    margin-bottom: 1.5em;
  }
  
  h2{
    color: #556667;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    margin-left: 12%;
  }
  
  
  button{
    color: #556667;
    text-decoration: underline;
    text-decoration-color: #556667;
    background-color: white;
    border-style: solid;
    border-color: #CD9862;
    border-width: 2px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 10px;
    height: 4em;
    font-family: Verdana, sans-serif;
    
  }
  
  
  
  .btnRow{
    margin-left: 12%;
    display: block;
    margin-bottom: 2em;
  }
  
  .btnCol{
    margin-right: 3em;
  }